* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button {
  display: inline-block;
  font-size: 30px;
  font-size: 2.4rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #da274d;
  border: none;
  border-radius: 0.4rem;
  box-shadow: inset -0.1rem -0.1rem 0 0 #000000,
    inset 0.1rem 0.1rem 0.1rem 0 #f36aa8,
    0.2rem 0.2rem 0.1rem rgba(0, 0, 59, 0.6);
}

header {
  padding-top: 10em;
}

h1 {
  font-size: 50px !important;
}

section {
  padding: 8em 0;
}

.button:hover {
  cursor: pointer;
  background-color: darken(#da274d, 5%);
}

.button:focus,
.button:active {
  outline: 0;
  background-color: darken(#da274d, 10%);
}

.button-inactive {
  background-color: #88777b;
  box-shadow: none;
}

.button:hover {
  background-color: #88777b;
}

p {
  margin: 0 0 16px;
  font-size: 18px;
  line-height: 23px;
}

.slot-machine {
  width: 800px;
  margin: 0 auto;
}

.group,
.reel {
  display: inline-block;
  color: #000000;
}

.group {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-radius: 3rem;
}

.reel,
.display-reel {
  position: relative;
  float: left;
  width: 18%;
  height: 10rem;
  padding: 0 1rem;
  overflow: hidden;
  text-align: center;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.3) inset,
    0 0 0.1rem rgba(0, 0, 0, 0.2) inset;
}

.reel.match,
.display-reel.match {
  background-color: green;
}

.reel.no-match,
.display-reel.no-match {
  background-color: red;
}

.reel-holder {
  position: relative;
  top: -4rem;
  text-align: center;
}

.reel-door {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  font-weight: bold;
  background: #fab821;
}

p {
  height: 6rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 4.8rem;
  font-weight: bold;
}

.display-reel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 800;
}

.msg {
  padding: 2.5rem 0 0.5rem;
  font-size: 1.8em;
  color: #bbbbbb;
  text-align: center;
  text-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.3),
    0 0.1rem 0 rgba(255, 255, 255, 0.5);
}

.announcement {
  font-size: 24px;
  color: #0085ff;
  text-align: center;
}
